.txt-chng
{
    color: white !important;
}

.ib
{
    font-size: 60px;
}

.abt-p
{
    word-spacing: 2px;
    letter-spacing: 1.5px;
    line-height: 1.6em;
    text-align: justify;
}

.hr
{
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
}

.ftr
{
    background-color: #1c2331;
}

.ftr-part
{
    background-color: rgba(0, 0, 0, 0.2);
}